
<style>
	body{
		background-color: rgb(229, 39, 51);
	}
</style>
  <div class="modal_jobs">
    <div class="modal_jobs_inner">
      <div class="modal_jobs--requred_jobs">
        <img src="images/avatar.svg" alt=""> <br>
  <span class="modal_jobs_span--qw">Нашли себя?</span>
  <span class="modal_jobs_span">Нам требуются: </span>
        <ul>
          <li>Должность_нейм</li>
          <li>Должность_нейм</li>
          <li>Должность_нейм</li>
          <li>Должность_нейм</li>
        </ul>
         <input class="modal_jobs--file" type="file">
  <button class="btn waves-effect waves-light modal_jobs--btn" type="submit" name="action">Submit <i class="material-icons right">send</i></button>
      </div>

    </div>
  </div>
    <div class="modal_dicounts">
    <div class="modal_discounts_inner">
      <div class="modal_discounts--requred_dicounts">
        <img src="images/avatar.svg" alt=""> <br>
  <span class="modal_dicounts_span--qw">Нашли себя?</span>
  <span class="modal_dicounts_span">Нам требуются: </span>
        <ul>
          <li>Должность_нейм</li>
          <li>Должность_нейм</li>
          <li>Должность_нейм</li>
          <li>Должность_нейм</li>
        </ul>
         <input class="modal_dicounts--file" type="file">
  <button class="btn waves-effect waves-light modal_discounts--btn" type="submit" name="action">Submit <i class="material-icons right">send</i></button>
      </div>

    </div>
  </div>
    <div class="modal_callback">
    <div class="modal_callback_inner">
      <div class="modal_callback--requred_callback">
        <img src="images/avatar.svg" alt=""> <br>
  <span class="modal_callback_span--qw">Нашли себя?</span>
  <span class="modal_callback_span">Нам требуются: </span>
        <ul>
          <li>Должность_нейм</li>
          <li>Должность_нейм</li>
          <li>Должность_нейм</li>
          <li>Должность_нейм</li>
        </ul>
         <input class="modal_callback--file" type="file">
  <button class="btn waves-effect waves-light modal_callback--btn" type="submit" name="action">Submit <i class="material-icons right">send</i></button>
      </div>

    </div>
  </div>
 <div class="contact">
        <div class="contact-inner">
          <div class="contact-inner--item waves-tea" ng-ckick="sm.contacts" id="jobs">
            <div class="contact-inner--item_logo">
              <img src="../images/avatar.svg" alt="">
            </div>
            <div class="contact-inner--item_name">
              <span>Вакансии</span>
            </div>
          </div>
           <div class="contact-inner--item" id="discount">
            <div class="contact-inner--item_logo">
              <img src="../images/discount.svg" alt="">
            </div>
            <div class="contact-inner--item_name">
              <span>Акции</span>
            </div>
          </div>
          <div class="contact-inner--item" id="order_phone">
            <div class="contact-inner--item_logo">
              <img src="../images/phone.svg" alt="">
            </div>
            <div class="contact-inner--item_name">
              <span>звонок</span>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
      <div class="carousel carousel-slider center main-adv" >
        <div class="carousel-item white-text row" href="#one!">
            <div class="col l12 xl12 m12 s12 main">
              <img class="logo" src="../images/bg.gpng.png" alt="">
                </div>
                  <div class="col l3 offset-l5 s11 m11 offset-s1 offset-m1 center span-cont">
                <span class="main-span" id="main-span">Ваша личная <br>  пиар компания <br> уже через один клик</span>
              </div>
        </div>
                <div class="carousel-item row grey lighten-5" href="#two!">
                    <div class="row section-main">
                      <div class="col xl2 l2 s4 red darken-2 section-cont">
                        <div>
                       <span class="section-span">SIMBIOS — <br></span>
                        <!-- <hr class="sec-hr" width="40px" noshade size="3px" color="white"> -->
                        <span class="section-dop">PRODUCTION</span>
                        </div>

                      </div>
                     <div class="col xl2 l2 right red darken-2 section-btn">
                        <div>
                       <span class="section-span">Бесплатная<br></span>
                        <!-- <hr class="sec-hr" width="40px" noshade size="3px" color="white"> -->
                        <span class="section-dop">Консультация</span>
                        </div>

                      </div>
                      <div class="col xl4 l4 m5 section-title__cont">
                         <span class="section-title">НАШИ УСЛУГИ</span>
                      </div>
                    </div>
                    <div class="row sec-circle">
                      <div class="col l12 circle-cont">
                        <div class="col l12">
                          <div class="col xl3 l12 offset-xl1 circle-item-cont">
                            <div class="circle-item">
                              <div class="circle-item--cont">
                               <img class="circle-img" src="../images/start.svg" alt="">
                              <span class="circle-span">УПРАВЛЕНИЕ И МЕНЕДЖМЕНТ</span>
                              </div>
                            </div>
                             <div class="circle-item">
                              <div class="circle-item--cont">
                               <img class="circle-img" src="../images/growth.svg" alt="">
                              <span class="circle-span">маркетинг</span>
                              </div>
                            </div>
                             <div class="circle-item">
                              <div class="circle-item--cont">
                               <img class="circle-img" src="../images/shopping-bag.svg" alt="">
                              <span class="circle-span">Продажи</span>
                              </div>
                            </div>
                             <div class="circle-item">
                              <div class="circle-item--cont">
                               <img class="circle-img" src="../images/graphic-design.svg" alt="">
                              <span class="circle-span">Digital</span>
                              </div>
                            </div>
                             <div class="circle-item">
                              <div class="circle-item--cont">
                               <img class="circle-img" src="../images/paint-palette.svg" alt="">
                              <span class="circle-span">Design</span>
                              </div>
                            </div>
                             <div class="circle-item">
                              <div class="circle-item--cont">
                               <img class="circle-img" src="../images/confetti.svg" alt="">
                              <span class="circle-span">Event</span>
                              </div>
                            </div>
                             <div class="circle-item">
                              <div class="circle-item--cont">
                               <img class="circle-img" src="../images/video-camera.svg" alt="">
                              <span class="circle-span">Production</span>
                              </div>
                            </div>
                          </div>
                          <div class="col xl6 l6 offset-l2 circle-logo--cont">
                      <div class="cont">
                         <div class="con__tr con__tr_first circle--tr" ui-sref="service({id:'5be067f04b216a259075260f'})" onmouseover="findTrs(event)" onmouseleave="returnTr(event)">
                           <img class="cr_gr__img" src="../images/confetti.svg" alt="">
                         </div>
                         <div class="con__tr con__tr_second circle--tr" ui-sref="service({id:'5be06bcb4b216a2590752610'})" onmouseover="findTrs(event)" onmouseleave="returnTr(event)">
                           <img class="cr_gr__img" src="../images/shopping-bag.svg" alt="">
                         </div>
                         <div class="con__tr con__tr_third circle--tr" ui-sref="service({id:'5be067f04b216a259075260f'})" onmouseleave="returnTr(event)">
                           <img class="cr_gr__img" src="../images/paint-palette.svg" alt="">
                         </div>
                         <div class="con__tr con__tr_fouth circle--tr" ui-sref="service({id:'5be067f04b216a259075260f'})" onmouseover="findTrs(event)" onmouseleave="returnTr(event)">
                           <img class="cr_gr__img" src="../images/graphic-design.svg" alt="">
                         </div>
                         <div class="con__tr con__tr_fifth circle--tr" ui-sref="service({id:'5be067f04b216a259075260f'})" onmouseover="findTrs(event)" onmouseleave="returnTr(event)">
                           <img class="cr_gr__img" src="../images/growth.svg" alt="">
                         </div>
                         <div class="con__tr con__tr_six circle--tr" ui-sref="service({id:'5be067f04b216a259075260f'})" onmouseover="findTrs(event)" onmouseleave="returnTr(event)">
                           <img class="cr_gr__img" src="../images/video-camera.svg" alt="">
                         </div>
                                       <div class="cr">
                                          <div class="cr_gr">
                                          <!-- <img class="cr_gr__img" src="images/start.svg" alt=""> -->
                                         </div>
                                    </div>
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>
              </div>
                 <div class="carousel-item row grey lighten-5" href="#three!">
                    <div class="row section-main">
                      <div class="col l2 red darken-2 section-cont">
                        <div>
                       <span class="section-span">SIMBIOS — <br></span>
                        <!-- <hr class="sec-hr" width="40px" noshade size="3px" color="white"> -->
                        <span class="section-dop">PRODUCTION</span>
                        </div>
                      </div>
                    <div class="col xl2 l2 right red darken-2 section-btn">
                        <div>
                       <span class="section-span">Бесплатная<br></span>
                        <!-- <hr class="sec-hr" width="40px" noshade size="3px" color="white"> -->
                        <span class="section-dop">Консультация</span>
                        </div>

                      </div>
                      <div class="col l4 offset-l1 section-title__cont">
                         <span class="section-title">Философия нашей компании</span>
                      </div>
                      </div>
                     <div class="row th-hr">
                        <div class="col l5">
                         <hr width="500px"> 
                        </div>
                    </div>
                    <div class="row th-content">
                      <div class="col l4 th-im--cont">
                        <img class="th--img" src="../images/muzhi1k.png" alt="">
                      </div>
                      <div class="col l7 th-text--cont">
                       <p class="th-text--p"><span class="th--text-m">SIMBIOS - </span><span class="th--text">агенство perfomance-маркетинга предоставляющее услуши маркетинга в сфере рекламы.</span></p>
                        <p class="th-text--p"><span class="th--text">Наша компания специализируется на perfomance-подходе, разрабатывает и реализует комплексные стратегии по привлеченеию клиентовж; повышает продажи и узнаваемость бренда , увеличивает охват и лояльность аудитории.</span></p>
                        <p class="th-text--p"><span class="th--text">Ориентация на perfomance подход позваляет нам сосредоточиться на задачах , которые приводят к максимальному резульатату и требуют минимальных затрат со стороны клиента.</span></p>
                        <p class="th-text--p"><span class="th--text-qw">Почему SIMBIOS?</span></p>
                        <p class="th-text--p"><span class="th--text">Термин «симбиоз» изначально биологический- это взаимодействие и взаимовыгодное сосуществование разных биологический видов. Таким образом симбиоз образует систему, в которой выигрывает всё и всегда.</span></p>
                        <p class="th-text--p"><span class="th--text-t">SIMBIOS - это гармония ваших желаний и наших возможностей!</span></p>
                      </div>
                    </div>
               </div>
                   <div class="carousel-item row grey lighten-5" href="#four!">
                    <div class="row section-main">
                      <div class="col l2 red darken-2 section-cont">
                        <div>
                       <span class="section-span">SIMBIOS — <br></span>
                        <!-- <hr class="sec-hr" width="40px" noshade size="3px" color="white"> -->
                        <span class="section-dop">PRODUCTION</span>
                        </div>
                      </div>
                      <div class="col xl2 l2 right red darken-2 section-btn">
                        <div>
                       <span class="section-span">Бесплатная<br></span>
                        <!-- <hr class="sec-hr" width="40px" noshade size="3px" color="white"> -->
                        <span class="section-dop">Консультация</span>
                        </div>

                      </div>
                      <div class="col l4 offset-l1 section-title__cont">
                         <span class="section-title">Что даёт simbios?</span>
                      </div>
                      </div>
                      <div class="row">
                        <div class="col l12">
                          <img class="fr-img" src="../images/sm.png" alt="">
                        </div>
                      </div>
                   </div>
                 <div class="carousel-item row grey lighten-5" href="#five!">
                    <div class="row section-main">
                      <div class="col l2 red darken-2 section-cont">
                        <div>
                       <span class="section-span">SIMBIOS — <br></span>
                        <!-- <hr class="sec-hr" width="40px" noshade size="3px" color="white"> -->
                        <span class="section-dop">PRODUCTION</span>
                        </div>
                      </div>
                      <div class="col xl2 l2 right red darken-2 section-btn">
                        <div>
                       <span class="section-span">Бесплатная<br></span>
                        <!-- <hr class="sec-hr" width="40px" noshade size="3px" color="white"> -->
                        <span class="section-dop">Консультация</span>
                        </div>

                      </div>
                      <div class="col l4 offset-l1 section-title__cont">
                         <span class="section-title">НАША КОМАНДА</span>
                      </div>
                      </div>
                      <div class="row">
                     <div class="team col l12" id="team">
                            <div class="team-inner">
                              <div class="team-item" ui-sref="team({id:employer._id})" ng-repeat = "employer in sm.employers">
                           <img ng-src="{{employer.link}}" alt="">
                                <div class="team-info">
                                  <div>
                                    <span class="team-info__name" ng-bind="employer.name"></span> 
                                    <span class="team-info__proff" ng-bind="employer.profession"></span>
                                  </div>
                                </div>
                              </div>
                          </div>
                      </div>
                   </div>
           </div>
           <div class="navigation">
                 <img class="arrow arrow--right" src="../images/right.svg" onclick="nextS()" alt="">
                 <img class="arrow arrow--left" src="../images/right.svg" onclick="prevS()" alt="">
           </div>
              <div class="parallelogram-main">
      <div class="parallelogram parallelogram1" onclick="Slide(event)">
        <span class="parall-span">Главная</span>
      </div>
      <div class="parallelogram parallelogram2" onclick="Slide(event)">
        <span class="parall-span">Философия</span>

      </div>
      <div class="parallelogram parallelogram3" onclick="Slide(event)">
        <span class="parall-span">Услуги</span>

      </div>
      <div class="parallelogram parallelogram4" onclick="Slide(event)">
        <span class="parall-span">Simbios</span>
       
      </div>
      <div class="parallelogram parallelogram5" onclick="Slide(event)">
        <span class="parall-span">Наши Клиенты</span>
      
      </div>
      <div class="parallelogram parallelogram6" onclick="Slide(event)">
        <span class="parall-span">Команда</span>
      </div>
    </div>
      </div>

      <!--JavaScript at end of body for optimized loading-->
      <script>
      $(document).ready(function(){
     $('.carousel.carousel-slider').carousel({
        duration: 350,
        fullWidth: true,
         });  
      });
      // setInterval(function(){
      //        $('.carousel').carousel('next');
      // },4500);

      nextS = function(){
       $('.carousel').carousel('next');
      }
    prevS = function(){
       $('.carousel').carousel('prev');
      }
 
      </script>
<script src="./js/type.js"></script>
