<style>
		body{
		background-color: rgb(229, 39, 51);
	}
</style>
<div class="container container_team grey lighten-5">
     <div class="row grey lighten-5">
                    <div class="row section-main">
                      <div class="col l2 red darken-2 section-cont">
                        <div>
                       <span class="section-span">SIMBIOS — <br></span>
                        <span class="section-dop">PRODUCTION</span>
                        </div>
                      </div>
                      <div class="col l4 offset-l1 section-title__cont">
                         <span class="section-title">Информация об услуге</span>
                      </div>
                      </div>
               </div>
                <div class="row">
                        <div class="col l12">
                          <span class="col l4 service_info--name" ng-bind="sm.video.name"></span>
                         <div class="col l6 offset-l2">
                       <video ng-src="{{sm.video.link}}" controls="" loop="" class="service_info--video"></video>
                         </div>
                         
                 </div>
                      </div>
  
</div>