<style>
		body{
		background-color: rgb(229, 39, 51);
	}
</style>
<div class="container container_team grey lighten-5">
     <div class="row grey lighten-5">
                    <div class="row section-main">
                      <div class="col l2 red darken-2 section-cont">
                        <div>
                       <span class="section-span">SIMBIOS — <br></span>
                        <span class="section-dop">PRODUCTION</span>
                        </div>
                      </div>
                <!--     <div class="col xl2 l2 right red darken-2 section-btn">
                        <div>
                       <span class="section-span">Бесплатная<br></span>
                        <span class="section-dop">Консультация</span>
                        </div>
                      </div> -->
                      <div class="col l4 offset-l1 section-title__cont">
                         <span class="section-title">Досье ФБР</span>
                      </div>
                      </div>
               </div>
                <div class="row">
                        <div class="col l12">
                         <div class="col l4 offset-l1 photo-cont">
                           <img ng-src="{{sm.employer.link}}" class="photo-cont__item" alt="">
                         </div>
                         <span class="col l1 offset-l3 team_info--name" ng-bind="sm.employer.name"></span>
                 <span class="col l2 offset-l4 team_info--profession" ng-bind="sm.employer.profession"></span>
                 <div class="col l4 offset-l1 team_info--skills">
                   <span class="col l2 offset-l3 team_info--skill_title">Скилы:</span>
                   <!-- <span class="col l2 offset-l1 team_info--skill" ng-bind="sm.employer.skill"></span> -->
                 </div>
                      </div>
  
</div>